.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

.team-card {
  flex: 0 1 250px; /* Ancho fijo para cada tarjeta */
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Altura fija para todas las tarjetas */
}

.team-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  max-height: 250px; /* Limitar la altura de la imagen */
}

.team-info {
  padding: 10px;
}

.team-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.team-info p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #666;
}
