.venue-section {
    text-align: center;
    padding: 20px;
  }
  
  .venue-map {
    margin: 20px auto;
    max-width: 100%;
    overflow: hidden;
  }
  
  .venue-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .venue-description img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .venue-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .venue-section-card {
    max-width: 300px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .venue-section-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  