.venue-section {
  text-align: center;
  padding: 20px;
}

.venue-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Añade espacio entre el mapa y la imagen */
}

.venue-map, .venue-description {
  flex: 1;
  min-width: 300px; /* Asegura que ambos tengan al menos este ancho */
}

.venue-map iframe {
  width: 100%;
  height: 100%;
  max-width: 500px; /* Controla el tamaño máximo del mapa */
  border-radius: 10px;
}

.venue-description img {
  max-width: 100%;
  border-radius: 10px;
}

.venue-description p {
  margin-top: 10px;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left; /* Alinea el texto a la izquierda */
}

.venue-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.venue-section-card {
  max-width: 300px;
  margin-bottom: 20px;
  text-align: left;
}

.venue-section-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
